@import '../../styles/_mixins.scss';
@import '../../App.scss';
@import '../../index.css';
$sidebar-width: 250px;

.navbar-container {
  min-height: $navbarHeight;
  @include flexCenter($justify: space-between);

  .brand {
    img {}
  }

  .nav-bar {
    a {
      @include responsiveFontSize($baseSize: 16px);
      padding: 0 1rem;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .user-profile {
    .profile-container {
      @include flexCenter();
      gap: 1rem;

      .sidebar-toggle {
        display: none;

        @media screen and (max-width: 767px) {
          display: flex;
        }
      }
    }
  }

  .side-bar {
    position: fixed;
    top: 0;
    right: -$sidebar-width;
    width: $sidebar-width;
    height: 100%;
    padding: 20px;
    z-index: 111;
    background-color: $whiteColor;
    border-left: solid rgba(0, 0, 0, 0.1) 2px;
    @include transition();
    animation: sidebar-animation 0.3s linear forwards;
    display: none;

    @media screen and (max-width: 768px) {
      @include flexCenter($direction: column, $justify: normal, $align: normal);
    }

    .comp {
      margin-bottom: 20px;
      @include flexCenter($justify: space-between);
    }

    a.sidebar-link {
      @include flexCenter($justify: space-between);
      margin-bottom: 1rem;
    }


    Button {
      align-items: center;
      margin-top: 20px;
      width: 100%;
    }
  }
}

@keyframes sidebar-animation {
  0% {
    right: -$sidebar-width;
  }

  100% {
    right: 0;
  }
}