@import '../../styles/_mixins.scss';

.navbar-container {
    min-height: 80px;
    @include flexCenter($justify: space-between);

    .brand {
        img {}
    }

    .nav-bar {
        a {
            @include responsiveFontSize($baseSize: 16px);
            padding: 0 1rem;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .user-profile {
        .profile-container {
            @include flexCenter();
            gap: 1rem;

            .sidebar-toggle {
                display: none;

                @media screen and (max-width: 767px) {
                    display: flex;
                }
            }
        }
    }

    .side-bar {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}