@import '../../styles/mixins';
@import '../../App.scss';

#recommendation-page {
    background: url('../../assets/recommendation_bg.jpg') no-repeat fixed;
    background-size: cover;
    position: relative;
    @include flexCenter();

    .background-overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to left, $secondaryColor , transparent);
    }

    .recommendation-container {
        position: relative;
        z-index: 1111;

        h1.title {
            margin-bottom: 1rem;
        }

        .button-container {
            padding: 0 2rem;

            .search-button {
                margin: 1rem 0;
                width: 100%;
            }
        }

        .recommendation-hero {
            .tab-panel {
                @include flexCenter($justify: flex-start);
                gap: 1rem;
            }

            .color-container {
                @include flexCenter();
                gap: 1rem;

                span.circle-color {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $blackColor;
                    display: inline-block;
                }
            }
        }
    }
}