@import '../../App.scss';
@import '../../styles/mixins';

#missing-information {
    .missing-information-container {
        main {
            margin-bottom: 1rem;

            .common-info {
                .input-field {
                    margin-bottom: 1rem;
                }

                .wrapper {
                    @include flexCenter($justify: space-between);
                    gap: 1rem;
                    margin-bottom: 1rem;

                    @media screen and (max-width: 767px) {
                        flex-wrap: wrap;
                    }

                    .input-field {
                        margin-bottom: unset;

                        @media screen and (max-width: 767px) {
                            width: 100%;
                        }
                    }
                }

                .image-upload-container {
                    align-items: flex-start;
                    margin-top: 1rem;
                }
            }
        }
    }
}