@import '../../styles/mixins';
@import '../../App.scss';

.swiper-banner {
    position: relative;

    .left-arrow,
    .right-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: $lowOrder;

        &.swiper-button-disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    .left-arrow {
        left: 20px;
    }

    .right-arrow {
        right: 20px;
    }
}