# dependencies
frontend-react/node_modules
frontend-react/node_modules

backend-node/node_modules
data
docs

/Tasks
/UI-UX

backend-flaskpy.rar
backend-node.rar
frontend-react.rar
notebook9884873f4f.ipynb

frontend-react/.env
backend-node/.env


.gitignore