@import '../../App.scss';
@import '../../styles/mixins';

#sell-car {
    background: url('../../assets/sell_car_bg.jpg') center center fixed;
    background-size: cover;
    position: relative;
    @include flexCenter();

    .overlay {
        position: absolute;
        z-index: $lowOrder;
    }

    .sell-car-container {
        main {
            position: relative;
            z-index: $lowOrder + 1;
            // background: #00000046;
            // backdrop-filter: blur(2px);

            // * {
            //     color: #fff;
            // }

            .title {
                @include responsiveFontSize($baseSize: 4em);
                text-align: center;
                margin-bottom: 1rem;
            }

            .form-container {
                @include GridAuto($minWidth: 150px);
            }

            .send-container {
                padding: 1rem;

                .send-button {
                    width: 100%;
                }
            }
        }
    }
}