@import '../../styles/mixins';
@import '../../App.scss';

#about-page {
  padding: 80px 0;

  .about-container {
    margin-bottom: 25px;

    .header_container {
      margin-bottom: 25px;

      .head {
        @include flexCenter();
        gap: 2rem;
        margin-bottom: 2rem;

        @media screen and (max-width: 991px) {
          @include flexCenter($direction: column);
        }

        &.active {
          .text-container {
            order: 1;

            @media screen and (max-width: 991px) {
              order: unset;
            }
          }

          .img-container {
            order: 2;

            @media screen and (max-width: 991px) {
              order: unset;
            }
          }
        }

        .img-container {
          width: 50%;

          @media screen and (max-width: 991px) {
            width: 100%;
          }
        }

        .text-container {
          width: 50%;

          @media screen and (max-width: 991px) {
            width: 100%;
            margin: 0px;
            order: 2;
          }

          h1 {
            font-weight: 500;
            margin-bottom: 5px;
            display: block;
          }

          p {
            @media screen and (max-width: 991px) {
              margin-top: 20px;
              margin-bottom: 20px;
            }

            font-size: medium;
            color: $pColor;
          }
        }
      }

      img {
        @include transition($duration: 0.3s, $timing-function: ease-in-out);
      }

      img:hover {
        filter: grayscale(70%);
      }
    }

    .middle-container {
      text-align: center;
      padding: 1rem 0;

      h1 {
        @include responsiveFontSize($baseSize: 1.5em);
        margin-bottom: 1rem;
      }

      .middle {
        @include flexCenter($justify: space-between);
        gap: 2rem;
        padding: 0 1.5rem;

        @media screen and (max-width: 991px) {
          flex-direction: column;
        }

        .arrow {
          @include flexCenter();
          gap: 1rem;

          &:last-of-type {
            .arrow_photo {
              display: none;
            }
          }

          @media screen and (max-width: 991px) {
            flex-direction: column;
          }

          .ima {
            @include flexCenter($direction: column);

            img {
              width: 150px;
              height: 140px;
            }

            p {
              word-wrap: break-word;
              width: 100%;
              max-width: 140px;
              padding: 7px 7px;
            }
          }

          .arrow_photo {
            width: 30px;
            height: 30px;
            transform: rotate(180deg);

            @media screen and (max-width: 991px) {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    .tail_container {
      text-align: center;
      padding: 30px 0;

      h1 {
        @include responsiveFontSize($baseSize: 1.5em);
        margin-bottom: 1rem;
      }

      .tail {
        @include flexCenter($justify: space-between);

        @media screen and (max-width: 991px) {
          flex-direction: column;
          gap: 1.5rem;
        }

        .text-container {
          width: calc(100% / 3);

          .number {
            width: 4rem;
            height: 4rem;
            text-align: center;
            padding: 1rem;
            border: solid 1px $secondaryColor;
            border-radius: 50%;
            margin: 0.5rem auto;
          }

          .item-paragraph {
            @media screen and (max-width: 991px) {
              word-wrap: normal;
              width: 100%;
              margin: 0px;
            }

            word-wrap: break-word;
            width: 100%;
          }
        }
      }
    }
  }
}