@import '../../styles/mixins';
@import '../../App.scss';

#buy-car-page {
    padding: 60px 0;

    .MuiBox-root.css-0 {
        padding: 0 1rem;
    }

    .buy-car-container {
        main {
            display: flex;
            gap: 2rem;

            @media screen and (max-width: 991px) {
                flex-direction: column;
            }
        }

        .pagination-section {
            margin-top: 1rem;
        }

        .section-title {
            border-bottom: 1px solid #eee;
            padding-bottom: 0.5rem;

            .title {
                font-weight: 400;
                margin: 0;
                color: $blackColor;
            }

        }

        .filters {
            width: 250px;

            @media screen and (max-width: 991px) {
                width: 100%;
            }

            details {
                margin-bottom: 1rem;

                summary {
                    @include flexCenter($justify: space-between);
                    @include responsiveFontSize(1.25em);
                    cursor: pointer;
                }

                .data-wrapper {
                    padding: 0.5rem;
                    max-height: 250px;
                    overflow: auto;

                    p {
                        padding: 1rem 0.5rem;
                        margin-top: 1rem;
                        cursor: pointer;

                        &.active {
                            background-color: $mainColor;
                            color: $whiteColor;
                        }
                    }
                }
            }

            p.title {
                margin-bottom: 1rem;
                @include responsiveFontSize(1.25em);
            }

            .section-container {
                .subtitle {
                    margin-bottom: .5rem;
                }

                margin-bottom: 1.5rem;
            }
        }

        .car-market {
            width: calc(100% - (2rem + 250px));

            @media screen and (max-width: 991px) {
                width: 100%;
            }

            .cars-container {
                @include GridAuto();
            }

            .sort-container {
                @include flexCenter($justify: space-between);
                margin: 1rem 0;

                .select-container {
                    @include flexCenter();
                    gap: 1rem;
                }
            }
        }
    }
}