@import '../../styles/mixins';
@import '../../App.scss';

#buy-car-page {
    padding: 60px 0;

    .buy-car-container {
        main {
            display: flex;
            gap: 2rem;

            @media screen and (max-width: 991px) {
                flex-direction: column;
            }
        }


        .section-title {
            border-bottom: 1px solid #eee;
            padding-bottom: 0.5rem;

            .title {
                font-size: 1.4em;
                margin: 0;
                color: $blackColor;
            }

            p {
                font-size: .9em;
            }
        }

        .filters {
            width: 250px;

            @media screen and (max-width: 991px) {
                width: 100%;
            }

            h4.title {
                margin-bottom: 1rem;
            }

            .section-container {
                .subtitle {
                    margin-bottom: .5rem;
                }

                margin-bottom: 1.5rem;
            }
        }

        .car-market {
            width: calc(100% - (2rem + 250px));

            @media screen and (max-width: 991px) {
                width: 100%;
            }

            .cars-container {
                @include GridAuto();
            }

            .sort-container {
                @include flexCenter($justify: space-between);
                margin: 1rem 0;

                .select-container {
                    @include flexCenter();
                    gap: 1rem;
                }
            }
        }
    }
}