@import '../../styles/mixins';
@import '../../App.scss';

.body-container {
    padding: 1rem;

    .car-price {
        margin: 0.5rem 0;
        display: block;
        @include responsiveFontSize(20px);

        span {
            @include responsiveFontSize(14px);
        }
    }

    .wrapper {
        @include flexCenter($justify: flex-start);
        gap: 1rem;
        flex-wrap: wrap;

        div {
            @include flexCenter($justify: flex-start);
            width: calc(100% / 2 - 1rem);
            gap: 0.25rem;

            svg {
                fill: $mainColor;
                @include responsiveFontSize(20px);
            }
        }
    }
}