@import '../../App.scss';
@import '../../styles/mixins';

#showroom-owner-page {
  .showroom-owner-container {
    main {
      section.options {
        @include flexCenter();
        gap: 1rem;

        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        button,
        a {
          @media screen and (max-width: 768px) {
            width: 100%;
          }

          margin: unset;
        }
      }
    }
  }
}