@import "../../App.scss";
@import "../../styles/mixins";

#showroom-owner-page {
  .showroom-owner-container {
    main {
      section.create-showroom {
        .input-field {
          margin-bottom: 1rem;
        }

        .addresses-container {
          .address-wrapper {
            @include flexCenter($justify: flex-start);
            flex-wrap: wrap;
            gap: 1rem;
            margin-bottom: 2rem;

            span.address {
              @include flexCenter();
              padding: 0.75rem 1rem;
              gap: 0.25rem;
              cursor: pointer;

              @include responsiveFontSize($baseSize: 16px);

              svg {
                @include responsiveFontSize($baseSize: 1.1em);
              }
            }
          }

          .add-address-container {
            margin-bottom: 1rem;

            .input-field {
              margin-bottom: 0 !important;
            }

            @include flexCenter($justify: flex-start, $align: flex-end);
            gap: 1rem;
          }

          Button.disabled {
            cursor: not-allowed;
          }

          .error-container {
            font-weight: bold;

            span {
              color: red !important;
            }
          }
        }
      }
      section.showroom-container {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .showrooms-details {
          padding: 2rem;
          margin-top: 2rem;
          background-color: #fafaff;
          border-radius: 10rem;
          text-align: center;
          box-shadow: 1px 1px 10px gray;
        }
      }
    }
  }
}
