@import '../../App.scss';

.Home {
  .continer1 {
    margin-top: 90px;
    word-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .start {
      text-align: center;
      margin-bottom: 20px;

      h2 {
        font-size: 20px;
        margin-bottom: 5px;
        color: $mainColor;
      }

      h5 {
        font-size: 17px;
        margin-bottom: 10px;
        color: var(--p-color);
        font-weight: 400;
      }
    }

    .row {
      display: flex;
      justify-content: center;


      .fcol {
        text-align: right;
        flex: 1;
        margin-right: 140px;

        h2 {

          font-size: 20px;
          margin-bottom: 10px;
        }

        h5 {
          font-size: 17px;
          margin-bottom: 50px;
          color: var(--p-color);
          font-weight: 400;
        }

        Button {
          margin-top: 10px;
          background-color: $mainColor ;
          width: 280px;

          a {
            text-decoration: none;

          }
        }
      }

      .fco2 {
        flex: 1;

        img {
          width: 100%; // Adjust the width as needed
          max-width: 500px; // Set a max-width to control the size
          display: block; // Prevents image spacing issues
          margin: 0 auto; // Centers the image within its container
        }
      }
    }
  }

}