@import '../../styles/_mixins.scss';
@import '../../App.scss';
@import '../../index.css';
$padding-width: 60px;

footer#footer-app {
    background-image: url(../../assets/footer_background.svg);
    padding: $padding-width 0;

    * {
        color: $whiteColor;
    }

    .footer-container {
        @media screen and (max-width: 991px) {
            @include flexCenter($direction: column);
        }

        @media screen and (max-width: 767px) {
            padding-bottom: 60px;
        }

        .head-footer {
            margin-bottom: $padding-width;
            @include flexCenter($justify: space-between);

            @media screen and (max-width: 991px) {
                order: 2;
                margin-bottom: unset;
                flex-direction: column;
                width: 100%;
                // padding: calc($padding-width / 2) 0;
                gap: 0.5rem;
            }

            h2 {
                @include responsiveFontSize($baseSize: 18px);
                margin-bottom: 10px;
                text-align: right;
            }

            .button-container {
                display: flex;
                gap: 1rem;

                @media screen and (max-width: 991px) {
                    flex-direction: column;
                    width: 100%;
                }

                button {
                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }
                }

                button.custom {
                    background: transparent !important;
                    border: 1px solid $whiteColor;
                    @include flexCenter();
                    gap: 0.5rem;

                    svg {
                        fill: $whiteColor;
                    }
                }
            }
        }

        .middle-footer {
            @include flexCenter($justify: space-between, $align: flex-start);
            gap: 0.5rem;
            padding: $padding-width 0;
            border-top: 1px solid $whiteColor ;
            border-bottom: 1px solid $whiteColor ;

            @media screen and (max-width: 991px) {
                flex-wrap: wrap;
                order: 1;
                padding-top: unset;
                border-top: unset;
            }

            .footer-column {
                &.footer-title {
                    @media screen and (max-width: 991px) {
                        width: 100%;
                        margin-bottom: 3rem;
                    }
                }

                @media screen and (max-width: 767px) {
                    width: 100% !important;
                }

                @media screen and (max-width: 991px) {
                    width: calc(50% - 1rem);
                }

                h5 {
                    font-size: 18px;
                    margin-bottom: 1rem;
                }

                p {
                    line-height: 1.8;
                    max-width: 300px;

                    @media screen and (max-width: 991px) {
                        max-width: 100%;
                    }
                }

                .link-container {
                    a {
                        display: block;
                        margin-bottom: 1rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .tail-footer {
            text-align: center;
            margin-top: 30px;
            order: 3;


            p {
                font-size: 14px;
                color: $whiteColor;
                margin-bottom: 10px;
            }

            .social-container {
                @include flexCenter();
            }

            a {
                margin: 0 10px;
                width: 30px;
                height: 30px;

                &:hover {
                    color: rgb(164, 230, 173);
                }
            }
        }
    }
}