@import '../../styles/_mixins.scss';
@import '../../App.scss';
@import '../../index.css';


.footer-container {
    width: 100%;
    margin: 2px 2px;
    background-image: url(../../assets/backgroundfooter.svg);
  
  
    .f_footer {
     
      margin-bottom: 20px;
     @include flexCenter($direction: row, $justify: center, $align: center);
      
  
      h2 {
        @include responsiveFontSize($baseSize: 18px);
        margin-bottom: 10px;
        text-align: right;
        color: $whiteColor;
       
      }
     .btn{
      display: flex;
      margin-right: 600px;
  
      }
      

      Button{
        margin-right: 20px;
        margin-top: 3px;
        border-color: rgb(255, 255, 255);
      
      }
    
      .btn3{
        color: $whiteColor;
        background-color: transparent;
        }
      }
      }
  
    .m_footer {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: solid rgba(0, 0, 0, 0.1) 2px;
      border-bottom: solid rgba(0, 0, 0, 0.1) 2px;
      .footer-column{
        margin: 70px 70px;
      h2{color: $whiteColor;}
      p{color: $whiteColor;}
      h5 {
        font-size: 18px;
        margin-bottom: 10px;
        color: $whiteColor;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
        
  
        li {
          margin-bottom: 5px;
         
  
          a {
            color: $whiteColor;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
     }
    }
    }
    .e_footer {
      text-align: center;
      margin-top: 30px;
  
      p {
        font-size: 14px;
        color: $whiteColor;
        margin-bottom: 10px;
      }
  
      a {
        
        margin: 0 10px;
       
  
        &:hover {
          color: rgb(164, 230, 173);
        }
      }
    }
  
  