@import "../../styles/mixins";
@import "../../App.scss";

.common-question {
  img {
  }
  .cq-title {
    position: absolute;
    top: 45%;
    right: 45%;
    @include responsiveFontSize($baseSize: 22px, $ratio: 1.2);

    @media screen and (max-width: 1024px) {
      top: 35%;
      right: 40%;
    }
    @media screen and (max-width: 425px) {
      top: 25%;
      right: 30%;
    }
    @media screen and (max-width: 320px) {
      top: 20%;
      right: 25%;
    }
  }
  .row {
    @include flexCenter($align: flex-start, $justify: space-between);
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

    @media screen and (max-width: 991px) {
      @include flexCenter($direction: column);
    }
  }
  .f-main-col {
    border-radius: 16px;
    background-color: #f3fffa;
    flex: 1;
    padding-bottom: 1rem;

    .f-col-row-header {
      padding-inline: 5%;
      min-height: 139px;
      padding-top: 32px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      background: linear-gradient(90deg, #00ce7c -0.85%, #3b9c53);
      @include responsiveFontSize($baseSize: 12px, $ratio: 1.2);
    }
    .s-col-row-header {
      background: linear-gradient(
        90deg,
        #045298 -0.85%,
        #045298 10.71%,
        #002d5d
      );
    }
  }
  .s-main-col {
    background-color: #e9eaff;
  }
  .row-btn {
    @include flexCenter();
    padding-top: 1rem;

    .show-all-cq-f-btn {
      background-color: $mainColor;
      padding-left: 30%;
      padding-right: 30%;
      @media screen and (max-width: 375px) {
        padding-right: 20%;
        padding-left: 20%;
      }
    }
    .show-all-cq-s-btn {
      background-color: $secondaryColor;
    }
  }
}
