@import '../../styles/mixins';
@import '../../App.scss';

#home-header {
    main {
        position: relative;
        height: calc(100vh - $navbarHeight); // 80px - بتوع النافبار عشان ياخد الشاشه كامله

        .swiper-wrapper {
            flex: 1;
            width: calc(100% - 300px);
        }

        .swiper {
            height: 100%;
        }

        .text-overlay {
            position: absolute;
            right: 0;
            padding: 0 30px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;

            h1 {
                @include responsiveFontSize($baseSize: 2em, $ratio: 1.2);
                margin-bottom: 0.5rem;
            }

            p {
                @include responsiveFontSize($baseSize: 1.2em);
            }
        }

        img.slider-opacity {
            opacity: 0.9;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
}