@import '../../styles/_mixins.scss';

#no-page {
    padding: 60px 0;

    .__no-container {
        @include flexCenter($direction: column);
        min-height: 100vh;
    }

    h1 {}

    a {
        font-weight: bold;
        font-size: larger;
    }

    img {
        max-width: 500px;
        position: relative;
        top: -100px;
        z-index: -1;
    }
}