@import '../../styles/mixins';
@import '../../App.scss';

.car-card {
    .card-container {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: $radius;
        overflow: hidden;

        .img-container {
            border-radius: 0 0 $radius $radius;
            overflow: hidden;
        }
    }
}