@import '../../styles/mixins';
@import '../../App.scss';

.car-card {
    .card-container {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: $radius;
        overflow: hidden;

        .img-container {
            border-radius: 0 0 $radius $radius;
            overflow: hidden;
        }

        .txt-container {
            padding: 1rem;

            .car-price {
                margin: 0.5rem 0;
                display: block;
                @include responsiveFontSize(20px);

                span {
                    @include responsiveFontSize(14px);
                }
            }

            .wrapper {
                @include flexCenter($justify: flex-start);
                gap: 1rem;

                div {
                    @include flexCenter();
                    gap: 0.25rem;

                    svg {
                        fill: $mainColor;
                        @include responsiveFontSize(20px);
                    }
                }
            }
        }
    }
}