.banner-uploader {
    padding: 60px 0;
    text-align: center;

    .image-upload-container {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    button {
        min-width: calc(200px + 1rem);
    }
}