$size: 50px;
@import '../../styles/mixins';
@import '../../App.scss';

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    width: $size;
    height: $size;
    @include flexCenter();
    z-index: 1111;

    @media screen and (max-width: 768px) {
        bottom: calc($bottomNavbarHeight + 20px);
    }

    svg {
        @include responsiveFontSize(18px);
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}