@import '../../App.scss';

.alert-container {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $mediumOrder;
    width: 80%;

    * {
        color: unset;
    }
}