@import "../../App.scss";
@import "../../styles/mixins";

.site-work {
    .site-work-container {
        word-spacing: 3px;

        .row {
            @include flexCenter($align: flex-start, $justify: space-between);
            gap: 1rem;

            @media screen and (max-width: 991px) {
                @include flexCenter($direction: column);
            }

            .col {
                text-align: right;

                .row-2 {
                    display: flex;
                    justify-content: center;

                    .content-container {
                        @media screen and (max-width: 991px) {
                            text-align: left;
                        }

                        button {
                            @media screen and (max-width: 991px) {
                                width: 100%;
                            }
                        }
                    }
                }

                h2 {
                    font-size: 20px;
                    margin-bottom: 0.25rem;
                }

                h5 {
                    font-size: 17px;
                    margin-bottom: 1.5rem;
                    font-weight: 400;
                }

                Button {
                    margin-top: 10px;
                    background-color: $mainColor;
                    width: 280px;
                }
            }

            .col-2 {
                @media screen and (max-width: 991px) {}

                img {
                    max-width: 500px;
                    margin: 0 auto;
                }
            }
        }
    }
}