@import '../../styles/mixins';
@import '../../App.scss';

#chats-page {
    .chat-container {
        position: unset;
    }

    .users-list {
        ul {
            @include flexCenter($justify: flex-start);
            gap: 1rem;
            margin: 1rem 0;

            li {
                font-size: 1.25em;
                padding: 1rem 2rem;
                // @include flexCenter($justify: flex-start);
                // gap: 1rem;
                cursor: pointer;

                img {
                    width: 100px;
                    aspect-ratio: 1 / 1;
                    margin: auto;
                    margin-bottom: 0.25rem;
                }
            }
        }
    }
}