$mainColor: var(--main-color);
$secondaryColor: var(--secondary-color);
$whiteColor: var(--white);
$blackColor: var(--black);
$pColor: var(--p-color);

$radius: var(--border-radius);
$navbarHeight : var(--navbar-height);
$bottomNavbarHeight: var(--bottom-navbar-height);

$highOrder: 999;
$mediumOrder: 599;
$lowOrder: 99;