@import '../../App.scss';
@import '../../styles/mixins';

form.avatar-uploader-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000003c;
    backdrop-filter: blur(2px);
    @include flexCenter();
    z-index: $highOrder;

    .form-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;
        z-index: $highOrder + 1;

        img {
            padding: 1rem;
            max-width: 400px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            margin: auto;
        }

        .input-field {
            margin-bottom: 1rem;
        }

        .buttons-container {
            @include flexCenter($justify: space-around);
            gap: 1rem;

            button {
                margin: unset;

                &.upload-button {
                    position: relative;
                    cursor: pointer;

                    input {
                        @include positioning(absolute);
                        opacity: 0;
                        cursor: pointer;
                    }
                }
            }
        }


    }
}